@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Pacifico&display=swap');

body{

    background-color: rgb(179, 179, 152);
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.text-normal {
    font-weight: normal;
}
.text-bold {
        font-weight: 800px;
}
h1, h2, h3{
    color:rgb(199, 116, 134);
}
.main-heading{
    color: yellow;
}

#css-sendbox{
    color:magenta;
}